::-webkit-scrollbar {
    display: none;
}

.log{
    display: flex;
    justify-content: space-around;
    gap: 240px;
}
.i{
    transform: rotate(-25deg);
    filter:hue-rotate(10deg);
    /* width: fit-content; */
    scale: 1.2;
    margin-top: 10px;
    margin-left: 15px;

}
.log1{
    margin-top: 20px;
    position: absolute;
    font-weight:600;
    color: white;
    font-size: 20px;
}
.log2{
    margin-top: 40px;
    position: absolute;
    font-weight:400;
    color: white;
   
}
.content{
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.header{
    top: 16px;
    right: 15%;
    position: relative;
    padding: 10px;
    text-align: center;
}
.n1:hover{
    cursor: pointer;
    border-radius: 20px;
    background: white;
    color: black;
    font-weight: 600;
}
.n1{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
}
.header .n1{
    transition: all linear 0.5s;
}

